* {box-sizing: border-box;
}

* {font-family: sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: bisque;
}

.container {
  display: none;
}

body {
  background-color: darksalmon;
}

h1 {
  color: #1A1DC9;
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

ul {
  list-style: none;
}

#left-container {
  width: 100%;
}

#map-selector {
  float: left;
  width: 100%;
  margin: 20px;
}

#mapid { 
  height: 200px;
  width: 280px;
  margin-top: 10px;
}

#images {
  display: none;
}

#images img {
  height: auto;
  max-height: 248.4px;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  float:left;
}

#logo {
  height: 30px;
  width: 130px;
  margin-top: 10px;
}

#current-weather {
  clear: both;
  margin: 20px;
}

#forecast-weather {
  margin: 20px;
}