* {box-sizing: border-box;
}

* {font-family: sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: bisque;
}

body {
  background-color: darksalmon;
}

h1 {
  color: #1A1DC9;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0px;
}

#map-selector {
  float: left;
  width: 35%;
  margin: 20px;
}

#mapid { 
  height: 400px;
  width: 100%;
  margin-top: 20px;
}

#images {
  float: left;
  width: 30%;
  margin-top: 20px;
}

#images img {
  height: auto;
  width: 90%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: 40px;
  width: 170px;
  margin-top: 30px;
}

#current-weather {
  width: 30%;
  float: left;
}

#forecast-weather {
  width: 30%;
  float: left;
}